@model Gerenciador_de_Cinema.Models.Filmes

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Filmes</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Titulo)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Descricao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Descricao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.duracao)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.duracao)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Dados)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Dados)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_filme">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
