@model IEnumerable<Gerenciador_de_Cinema.Models.Salas>

@{
    ViewData["Title"] = "Salas";
}

<h2>Salas</h2>


<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Nome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.qtd_assentos)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Nome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.qtd_assentos)
            </td>
            <td>
              
                <a asp-action="Details" asp-route-id="@item.id_sala">Detalhes</a> 
              
            </td>
        </tr>
}
    </tbody>
</table>
