@model Gerenciador_de_Cinema.Models.Sessao

@{
    ViewData["Title"] = "Delete";
}

<h2>Deletar</h2>

<h3>Você realmente deseja excluir?</h3>
<div>
    <h4>Sessões</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.data_exb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data_exb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.hr_ini)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.hr_ini)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.hr_fim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.hr_fim)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.valor_ing)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.valor_ing)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.id_filme)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.id_filme)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.id_sala)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.id_sala)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="id_sessao" />
        <input type="submit" value="Deletar" class="btn btn-default" /> |
        <a asp-action="Index"></a>
    </form>
</div>
