@model Gerenciador_de_Cinema.Models.Sessao

@{
    ViewData["Title"] = "Details";
}

<h2>Detalhes</h2>

<div>
    <h4>Sessao</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.data_exb)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.data_exb)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.hr_ini)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.hr_ini)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.hr_fim)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.hr_fim)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.valor_ing)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.valor_ing)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Filmes)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Filmes.Titulo)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Salas)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Salas.Nome)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.hr())
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.id_sessao">Editar</a> |
    <a asp-action="Index">Voltar</a>
</div>
